<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <title>Addressbook</title>
  </head>
  <body>
    <div class="container contactList">
        <div class="jumbotron">
            <h2><img src="img/ContactList.png" alt="Addressbook"> Addressbook</h2>
        </div>
        <h3>My Contacts</h3>
        {% if my_contacts is not empty %}
            <ul class="list-group">
                <li class="list-group-item active">Name / Address / Phone</li>
                {% for contact in my_contacts %}
                    <li class="list-group-item">{{ contact.getContactInfo(1) }} /  {{ contact.getContactInfo(2) }} / {{ contact.getContactInfo(3) }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h4>Your Contacts list is empty. Please create a Contact using the form below.</h4>
        {% endif %}
        <br>
        <h3>Add a New Contact</h3>
        <form action="/create_contact" method="post">
            <div class="form-group">
                <label for="input_name">Name</label>
                <input class="form-control contact_input" type="text" name="input_name" id="input_name" required placeholder="Name of Contact">
            </div>
            <div class="form-group">
                <label for="input_address">Address</label>
                <input class="form-control contact_input" type="text" name="input_address" id="input_address" required placeholder="Contact Address">
            </div>
            <div class="form-group">
                <label for="input_phone">Phone</label>
                <input class="form-control contact_input" type="text" name="input_phone" id="input_phone" required placeholder="Contact Phone Number">
            </div>
            <button class="btn btn-info">Create Contact</button>
            <button class="btn btn-warning" id="input-clear">Clear Form</button>
        </form>
        <h3>Clear Contact List</h3>
            <p>Click the button below to clear your Contact List. There is no undo, so be warned!</p>
            <form action="/delete_contacts" method="post">
                <button class="btn btn-danger">Delete All Contacts</button>
            </form>
    </div>
  </body>
</html>
